docs/
target/
src/test/*.*
.idea

.idea/

.idea/*.*

logs/

*.iml

.classpath

.project

.settings/


.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# build files


npm-debug.log
node_modules
.history
\.settings/
build/env.js
dist/


*.hprof
*.pyc
*.pyo
*.rbc
*.yarb
.git
.hg
.svn
CVS
__pycache__
_svn
vssver.scc
vssver2.scc

